body{
  font-size: 1.2em;
}
  img.fire-logo {
    margin-bottom: -20px;
    height: 60px;
    margin-top: 20px;
    margin-right: 7px;
}
.zilla{
  font-family: 'Zilla Slab', serif;
/*   font-family: 'Zilla Slab Highlight', cursive; */
}
.zillaH{
  font-family: 'Zilla Slab Highlight', cursive;
}
.bold{
  font-weight: bold;
}
.content figure {
    margin-left: 0;
    margin-right: 0;
}
.logo{
  width: 70px;
}
footer a, form#lang_form {
    color: #fff;
    
}
footer a:hover, form#lang_form {
    color: #efefef;
}
p.license {
    font-size: 13px;
    padding-bottom: 24px;
}
footer ul{
  list-style: none !important;
    padding: 0 !important;
    margin: 30px 3px !important;
}
footer svg {
    width: 30px;
    margin-right: 5px;
}
.image img, .card-image .image{
  width: auto !important;
}