body{
  font-size: 1.2em;
}
.mt-2{
  margin-top: 2em;
}
@media screen and (min-width: 1088px){.navbar{padding: 15px 0;}}
img.fire-logo {
    margin-bottom: -20px;
    height: 60px;
    margin-top: 20px;
    margin-right: 7px;
}
}
.zilla{
  font-family: 'Zilla Slab', serif;
/*   font-family: 'Zilla Slab Highlight', cursive; */
}
.zillaH{
  font-family: 'Zilla Slab Highlight', cursive;
}
.bold{
  font-weight: bold;
}
.content figure {
    margin-left: 0;
    margin-right: 0;
}
.logo{
  width: 70px;
}
footer a, form#lang_form {
    color: #fff;
    
}
footer a:hover, form#lang_form {
    color: #efefef;
}
p.license {
    font-size: 13px;
    padding-bottom: 24px;
}
footer ul{
  list-style: none !important;
    padding: 0 !important;
    margin: 30px 3px !important;
}
footer svg {
    width: 30px;
    margin-right: 5px;
}
.image img{
  width: auto !important;
  margin-top: 20px;
}
.sponsor img{
  width: 110px;
}
.frame-m{
  border: 10px #dadada solid;
}
.extra-padding{
  padding: 25px 35px !important;
}
@media screen and (max-width: 1088px){
  .navbar-start a {
    color: #fff !important;
    border-bottom: 1px solid #333 !important;
  }
  .navbar-start a:hover {
    color: #000 !important;
  }
  div#navbarExampleTransparentExample {
    background: #000 !important;
  }
}



